h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: -webkit-linear-gradient(red,orange,yellow,green,cyan,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 220%;
}

body {
	background: linear-gradient(-45deg, red,orange,yellow,green,cyan,blue);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
